@charset "UTF-8";

body {
	color : #004000;
	background-color : #8c85bc;
	font-family : "Trebuchet MS";
	
	background-image : url( "images/love.png");
	background-repeat : no-repeat;
	background-position: 200px 100px;
	background-attachment : fixed;
}

p{
	font-size : 1.1em;
	font-style : italic;
	font-weight: bold;
	
	text-indent : 10px;
	text-align : center;
	text-decoration : underline overline line-through;
	text-decoration : none;
	text-shadow : -2px 5px green;
	line-height : 30px;
	word-spacing : 10px;
	letter-spacing : 5px;
}

ul{
	list-style-type : none;
	
}
a{
	text-decoration : none;
}
a:link, a:visited{
	color : red;
}
a:hover, a:active{
	color : white;
}

#first {
	color : red;
}
b#second {
	color : blue;
}
.point{
	color : yellow;
}
.strong{
	color : green;
}

b#second.point{
	color : gold;
}
b.strong{
	color : pink;
}

span, b{
	color : red;	
}
span b{           /* 후손선택자 */
	color : blue;
}

span > b {		 /* 자식선택자 */
	color : yellow;
}

div {
	border-style : solid double dashed dotted; /* top right botton left */
	border-width : 3px 5px;
	border-color : red green blue gold;
	border : solid 3px red;
	
	padding : 5px 10px;
	margin : 5px 10px;
	
	width : 200px;
	height : 100px;
	float : Left;
}

p {
	clear : Left;
}







